/* default body margin and padding */
body {
    padding: 0px;
    margin: 0px;
}

/* Text editor styles */
.text-editor {
    height: 100%;
    width: 70%;
    float: left;
    background-color: #d4d4d4;
    overflow: hidden;
}

.text-box {
    float: left;
    position: relative;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.button-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    /* position: absolute; */
}

textarea {
    font-size: 20px !important;
    padding: 20px;
}

/* Code block styles */
.code-blocks { 
    min-height: 100%;
    height: auto;
    width: 30%;
    float: right;
    background-color: #f7f7f7;
    border-right: 1px solid black;
    /* overflow-x: scroll; */
}

.code-block-1 {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 6px;
    padding-left: 20px;

}

.button1 {
    margin-left: 250px;
    margin-top: -10px;
}

/* Search box */
.search {
    float: right;
    margin-top: 20px;
    margin-right: 120px;
    /* position: absolute; */
    margin-left: 25px;
}

.form-control {
    width: 200px !important;
}