 	textarea{
	/* width:400px; */
	height: auto;
	min-height: 100%;
	width: 100%;
		
	/* The following three rules make a difference in the script */
	overflow:hidden;
	line-height: 13px;
	font-size: 13px;
			
	border:1px solid #999;
	border-bottom: 0px solid;
	padding:10px;
	font-family: monospace;
	margin:0;
	margin-left: 10px;
	display:block;
	outline:none;
}

/* textarea:focus{
  border-color:#333;
} */

.container{
	position:relative;
	display:inline-block;
	margin-top: 20px;
}

.line-nums{
	font-size:13px;
	line-height:13px;
	padding:10px 4px;
	font-family: monospace;
    background: #EEE;
	position: absolute;
	width: 29px;
	min-height: 100%;
	left: 0px;
	bottom: 0;
	top: 0;
	text-align:right;
	border:1px solid #999;
	border-bottom: 0px solid;
}